body{
    width: 100%;
    height: 100%;
    background: url('../images/test-bg.png') no-repeat top center;
    background-size: 100% 100%;
}
.main{
    /*position: absolute;*/
    width: 100%;
    /*height: 100%;*/
    margin: auto;
    text-align: center;
    
    /*padding-top: 80px;*/
    box-sizing: border-box;
    /*top: 50%;*/
    /*left: 50%;*/
    /*transform: translate(-50%,-50%);*/
}
.main h5{
   font-size: 18px;
    padding: 20px 0;
}
.main .messageWrap{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
}
.main .message{
    width: 45%;
    /*height: 500px;*/
    /*padding-top: 20px;*/
    margin: 0 auto;
    text-align: center;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 10px 10px 0 rgba(0,0,0,.2);
    
}
.message .content{
    /* display: none; */
    width: 100%;
    height: 500px;
}
.message  .top {
    text-align: left;
    padding-top: 20px;
    margin: 0px 0 20px 20px ;
}
.message .top img{
    width:45px;
    height: 30px;
    vertical-align: middle;
    margin-right: 20px;
}
.message .top span{
    color: #c7c800;
}
/*.message .title{
    margin: 20px auto;
}*/
.message .title{
  padding: 10px 0;
  position: relative;
}
.message .title img{
width: 150px;
}
.message .title span{
  position: absolute;
  top: 50%;
  left: 50%;
  padding-top: 20px;
  transform: translate(-50%,-50%);
  color: #4b93e8;
  font-weight: 600;
}
.message .quesStyle{
    margin-bottom: 20px;
}
.message .quesContent{
    margin-bottom: 20px;
}
.message  .ans{
    list-style-type: upper-alpha;
    text-align: center;
    margin-left: 65%;
    transform: translateX(-50%);
}
.message  .ans li{
    text-align: left;
    position: relative;
    height: 35px;
}
.message  .ans li input{
    width: 20px;
    height: 20px;
    left: -60px;
    position: absolute;
}
.money{
    width: 80%;
    margin: 20px auto;
    display: flex;
    justify-content: center;
}
.money img{
    width: 45px;
    height: 40px;
    margin-right: 10px;
}
.footer{
    margin-bottom: 20px;
}
.footer input{
    font-size: 18px;
    letter-spacing: 2px;
    width:160px;
    height: 43px;
    line-height: 43px;
    border-radius: 20px;
    color: #fff;
    text-align: center;
    background-color: #528efc;
    border: none;
    outline: medium;
    margin-bottom: 20px;
    cursor: pointer;
}
/* 显示隐藏 */
.show{
    display: none;
}
.hide{
    display: block;
}
/* 测试结果部分 */
.message .result{
    width: 100%;
    padding-top: 20px;
    margin: 60px auto;
    text-align: center;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 10px 10px 0 rgba(0,0,0,.2);
    display: none;
}
.message .result .examResult{
    width: 246px;
    height: 246px;
    margin: 0 auto ;
    line-height: 54px;
    padding-top: 20px;
    box-sizing: border-box;
    border: 1px dashed #333;
    text-align: center;
}
.message .result .examResult p{
    text-align: center;
}
.message .result .examResult .examResultContent{
    color: red;
}
.message .result .examResult input{
    width: 100px;
    height: 30px;
    border: none;
    outline: medium;
    border-radius: 20px;
    color: #fff;
    letter-spacing: 1px;
    background-color: #4c8ffa;
    cursor: pointer;
}
/*添加样式*/
.moduWrap{
    background: url(../yiqixuexi/images/moduBg.png) no-repeat;
    background-size: 100% 108%;
    background-position: 0 -30px;
}