*{
	padding: 0;
	margin: 0;
}
body{
	font-family: '微软雅黑';
	background: #fdfc9f;
	/*overflow: hidden;*/
}
table{
	border-collapse: collapse;
}
table,th,td{
	border:1px solid black;
}
input{
	outline: none;
}
header{
	background: #fff;
	font-size: 18px;
	z-index: 99;
}
img{
	width: 100%;
	height: 100%;
}
a{
	color:rgba(0,0,0,.5);
	text-decoration: none;
}
ul{
	list-style: none;
}
ul li{
	display: inline-block;
}
.right{
	float: right;
}
.left{
	float: left;
}
.clearfix:after{
	content: '';
	display: block;
	width: 0;
	height: 0;
	clear: both;
	visibility: hidden;
}
.clearfix{
	zoom: 1;
}
/*导航栏样式*/
.head{
	width: 1000px;
	height: 70px;
	margin: 0 auto;
}
header .head .logo{
	width: 70px;
	line-height: 70px;
	display: inline-block;
}
header .head .logo>a{
  color: #c5c704;
}
header .head .daohan{
	float: right;
}
header .head .daohan ul{
	display: inline-block;
}
header .head .daohan ul li{
	margin: 0 30px;
	line-height: 70px;
}
header ul li a:hover{
	color: #c5c704;
}
header .head .daohan .login-icon{
	width: 16px;
	display: inline-block;
}
.ant-botton{
	padding: 5px 15px;
	display: inline-block;
	background: #c5c704;
	color: #fff;
	border-radius: 20px;
	text-align: center;
}
header .active{
	color: #c5c704;
}
/*内容样式*/
@media screen and (max-width: 1440px) {
    .main {
        width: 1200px;
        min-width: 1000px;
        height: 630px;
    	margin: 0 auto;
    }
}
@media screen and (max-width: 1200px) {
    .main {
        width: 1000px;
        min-width: 1000px;
        margin: 0 auto;
    }
}
.main .message{
	width: 300px;
}
/*登陆 所有注册的样式*/
.loAndRe{
	/* position: fixed;
    width: 100%;
    height: 100%;
    margin: auto;
    background: url('../images/login-bg.png') no-repeat top center;
    background-size: 100% 100%; */
	position: absolute;
	width: 100%;
	height: 100%;
	margin: auto;
	text-align: center;
	background: url('../images/login_bg.png') no-repeat top center;
	background-size: 100% 100%;
	box-sizing: border-box;
}
.loAndRe .message{
	width: 900px;
	height: 570px;
	background: url(../images/login_main_bg.png) no-repeat top center;
	background-size: 100% 100%;
	box-sizing: border-box;
	position: absolute;
	top: 50%;
	left: 48%;
	transform: translate(-50%,-50%);
}
.loAndRe .messageInner{
	width: 300px;
	height: 400px;
	background: #fff;
	/* margin: 190px auto; */
	text-align: center;
	position: ABSOLUTE;
	top: 59%;
	transform: translate(-48%,-50%);
	left: 52%;
	border-radius: 10px;
  /* box-shadow: 0 10px 10px 0 rgba(0,0,0,.2); */
  box-shadow: 0 3px 10px 4px rgba(0,0,0,.1);
}
.loAndRe .messageInner form{
  padding: 45px 20px 0 20px;
}
.loAndRe .messageInner section{
  padding-top: 45px;
}
/*标题设置样式 */
.loAndRe h3,.loAndRe h4,.loAndRe h5{
  font-weight: 400;
  font-size: 18px;
  color: #333;
  letter-spacing: 6px;
}
/* 按钮 */
.loAndRe .submitBtn{
  letter-spacing: 6px;
}
/*默读和范读的样式*/
.main .messageWrap {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 100%;
}
.moduAndExam .message{
	width: 580px!important;
}
.moduAndExam .message .content{
	height:480px;
}